@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>
My name is Fnu Nousheerwan, and I am a Computer Science student at University of Illinois at Chicago. 
I have a special interest in Robotics, and I want to pursue a career as an AI (Artificial Intelligence) designer.
The main reason for my interest in the Computer Science is solely based on its futuristic approach towards problem solving, 
and how it utilizes technology for the betterment of the society. The field demands a professional who has expertise 
in web, android development,etc and it perfectly matches my area of concentration. I have worked on several projects 
related to web and android development. I have strong conceptual knowledge about different IDE’s 
(Eclipse, Android Studio, Visual Studio) that are used in the web and android development. 
In my previous semester I made an android application that helped the user in tracking the nearest auto shop in case 
of an emergency. The app was designed on Android Studio and used different APIs to enhance its working capabilities. 


</p>
