@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Fnu Nousheerwan</h3>

<address>
    518 Scott Ln<br />
    Romeoville, IL 60446<br />
    <abbr title="Phone">P:</abbr>
    803.636.1696
</address>

<address>
    <strong>Support:</strong> <a href="mailto:fnoush2@uic.edu">fnoush2@uic.edu</a><br />
   
</address>
